/* 
	Formatação dos dados referentes a Imóveis
	A idéia é separar dos restante do tema para facilitar a manutenção
*/
.imovel_lista{
	list-style: none;
}


.imovel_lista li{
	width: 175px;
	float: left;
	min-height: 300px;
	border: 1px solid #e9e9e9 ;
	margin-right: 10px;
}

.imovel_lista li img{
	width: 175px;
	height: auto;
	border-bottom: 2px solid #e9e9e9;
}

.imovel{
	padding: 20px;
	
}

.imovel .destaque{

}

.imovel .destaque .galeria_de_imagens{
	width: 475px;
}

.imovel .destaque .detalhes{
	margin-left: 533px;
	width: 245px;
	display: block;
	position: absolute;
	border: 1px solid #ddd;
}

.imovel .destaque .detalhes div{
	padding: 8px;
	text-align: left;
}

.operacao{ 		font-size: 18px; }
.bairro{ 		font-size: 22px; }
.cidade_estado{	font-size: 15px; }
.preco{
display: block;
padding: 20px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
overflow: hidden;
position: relative;
}






/* Formatacão da Galeria de Imagens */
.ad-gallery {
	width: 475px;
}

.ad-gallery .ad-image-wrapper {
	height:300px
}
